[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "annalist"]
	path = lib/annalist
	url = git@github.com:noctuid/annalist.el.git
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "auto-complete"]
	path = lib/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "caddyfile-mode"]
	path = lib/caddyfile-mode
	url = https://github.com/Schnouki/caddyfile-mode.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult.git
[submodule "consult-ag"]
	path = lib/consult-ag
	url = https://github.com/yadex205/consult-ag.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "dash-docs"]
	path = lib/dash-docs
	url = https://github.com/dash-docs-el/dash-docs.git
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "debian-el"]
	path = lib/debian-el
	url = https://salsa.debian.org/emacsen-team/debian-el.git
[submodule "devdocs"]
	path = lib/devdocs
	url = https://github.com/astoff/devdocs.el.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el.git
[submodule "direnv"]
	path = lib/direnv
	url = https://github.com/wbolster/emacs-direnv.git
[submodule "dpkg-dev-el"]
	path = lib/dpkg-dev-el
	url = https://salsa.debian.org/emacsen-team/dpkg-dev-el.git
[submodule "elpher"]
	path = lib/elpher
	url = https://thelambdalab.xyz/git/elpher.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark.git
[submodule "epc"]
	path = lib/epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
	info-path = doc/build/texinfo
[submodule "evil-collection"]
	path = lib/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
[submodule "evil-goggles"]
	path = lib/evil-goggles
	url = https://github.com/edkolev/evil-goggles.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "gemini-mode"]
	path = lib/gemini-mode
	url = https://git.carcosa.net/jmcbray/gemini.el.git
[submodule "git-annex"]
	path = lib/git-annex
	url = https://github.com/jwiegley/git-annex-el.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "goto-chg"]
	path = lib/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "highlight-indentation"]
	path = lib/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "jedi"]
	path = lib/jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule "jinja2-mode"]
	path = lib/jinja2-mode
	url = https://github.com/paradoxxxzero/jinja2-mode.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "loop"]
	path = lib/loop
	url = git@github.com:Wilfred/loop.el.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-annex"]
	path = lib/magit-annex
	url = https://github.com/magit/magit-annex.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "modus-themes"]
	path = lib/modus-themes
	url = https://gitlab.com/protesilaos/modus-themes.git
[submodule "moody"]
	path = lib/moody
	url = https://github.com/tarsius/moody.git
[submodule "multicolumn"]
	path = lib/multicolumn
	url = https://github.com/Lindydancer/multicolumn.git
[submodule "nix-mode"]
	path = lib/nix-mode
	url = git@github.com:NixOS/nix-mode.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "page-break-lines"]
	path = lib/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "pet"]
	path = lib/pet
	url = https://github.com/wyuenho/emacs-pet
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el.git
[submodule "solaire-mode"]
	path = lib/solaire-mode
	url = https://github.com/hlissner/emacs-solaire-mode.git
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
[submodule "treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
	load-path = src/elisp
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "undo-fu"]
	path = lib/undo-fu
	url = https://gitlab.com/ideasman42/emacs-undo-fu.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico.git
[submodule "web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
